b {
    font-weight: bold;
}
#herobg 
{
    position: absolute;
    height:33.6vw;
    opacity: 1;
    margin-left:-67.2vw;
    transition:  margin-left 1s ease-in-out;
   -moz-transition: margin-left 1s ease-in-out;
   -webkit-transition: margin-left 1s ease-in-out;
    z-index:0;
    margin-top:9.52vw;
}

#herobg.movein
{
    transition:  margin-left 1s ease-in-out;
    -moz-transition:  margin-left 1s ease-in-out;
    -webkit-transition: margin-left 1s ease-in-out;
    margin-left: 0vw;
}

#heropost
{
    position:absolute;
    height: 19.6vw;
    right: 0;
    margin-right: -5.6vw;
    margin-top: -5.6vw;
    transition:  margin-top 1.4s ease-in-out,margin-right 1.4s ease-in-out;
    -moz-transition:  margin-top 1.4s ease-in-out,margin-right 1.4s ease-in-out;
    -webkit-transition: margin-top 1.4s ease-in-out,margin-right 1.4s ease-in-out;
    
}

#heropost.movein
{
    transition:  margin-top 1.4s ease-in-out,margin-right 1.4s ease-in-out;
    -moz-transition:  margin-top 1.4s ease-in-out,margin-right 1.4s ease-in-out;
    -webkit-transition: margin-top 1.4s ease-in-out,margin-right 1.4s ease-in-out;
    margin-right:0vw;
    margin-top: 0vw;
}

#heroscrollbg 
{
    position: absolute;
    height:11.2vw;
    opacity: 0;
    bottom: 0;
    right: 0;
    margin-bottom: -28vw;
     transition:  margin-bottom 1.4s ease-in-out, opacity 0.7s ease-in-out;
    -moz-transition:  margin-bottom 1.4s ease-in-out, opacity 0.7s ease-in-out;
    -webkit-transition: margin-bottom 1.4s ease-in-out, opacity 0.7s ease-in-out;
}

#heroscrollbg.movein
{
    margin-bottom:0vw;
    opacity: 1;
    transition:  margin-bottom 1.4s ease-in-out, opacity 0.7s ease-in-out;
    -moz-transition:  margin-bottom 1.4s ease-in-out, opacity 0.7s ease-in-out;
    -webkit-transition: margin-bottom 1.4s ease-in-out, opacity 0.7s ease-in-out;
    -webkit-transition-delay: 0.7s; /* Safari */
    transition-delay: 0.7s;
}


#heroscrollgif 
{
    position: absolute;
    height:6.72vw;
    opacity: 1;
    z-index: 2;
    float: center;
    bottom: 1.68vw;
    right: 2.8vw;
    margin-bottom: -28vw;
    transition:  margin-bottom 1.4s ease-in-out;
    -moz-transition:  margin-bottom 1.4s ease-in-out;
    -webkit-transition: margin-bottom 1.4s ease-in-out;
    transition-delay: 0.7s;
    
}

#heroscrollgif.movein
{
    margin-bottom:0vw;
    transition:  margin-bottom 1.4s ease-in-out;
    -moz-transition:  margin-bottom 1.4s ease-in-out;
    -webkit-transition: margin-bottom 1.4s ease-in-out;
    -webkit-transition-delay: 0.7s; /* Safari */
    transition-delay: 0.7s;
}


ul 
{
    opacity: 0;
    visibility: hidden;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: white;
    box-shadow: 10px;
    background-color: rgba(255,255,255,0);
    -webkit-transition: background-color 700ms linear, opacity .70s ease-in-out;
    -moz-transition: background-color 700ms linear, opacity .70s ease-in-out;
    -o-transition: background-color 700ms linear, opacity .70s ease-in-out;
    -ms-transition: background-color 700ms linear, opacity .70s ease-in-out;
    transition: background-color 700ms linear, opacity .70s ease-in-out;
}

ul.scrolled
{
    visibility: visible;
    opacity: 1;
    background-color: rgba(255,255,255,0.8);
    -webkit-transition: background-color 700ms linear, opacity .70s ease-in-out;
    -moz-transition: background-color 700ms linear, opacity .70s ease-in-out;
    -o-transition: background-color 700ms linear, opacity .70s ease-in-out;
    -ms-transition: background-color 700ms linear, opacity .70s ease-in-out;
    transition: background-color 700ms linear, opacity .70s ease-in-out;
}

li 
{

    float: right;
}

li a 
{
    display:inline-block;
    text-align: center;
    padding: 7% 50px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
/*    font-weight: 500;*/
    font-size: 0.85vw;
    color: #222222;
    margin-top: 0.56vw;
}

li a:hover:not(.active) 
{
   
    color:#ffde02; 
}

li.amitsharma
{
    opacity: 0;
    float: left;  
    visibility: hidden;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
}

li.amitsharma.fadein
{
    visibility: visible;
    opacity: 1;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
    
}

li a.amitsharma
{
    font-weight: 600;
}


#projectnameleft
{
    font-size:4vw;
     font-family: 'Playfair Display', serif;
    font-weight: 100;
    float: left;
    margin-left:5.8vw;
    margin-top:11.48vw;
/*    padding-left: 2%;*/
/*    padding-right: 10.21%;*/
    color: #333333;
    opacity:1;
/*
    transition: opacity .50s ease-in-out;
   -moz-transition: opacity .50s ease-in-out;
   -webkit-transition: opacity .50s ease-in-out;
*/
}


/*
#projectnameleft.fadein
{
    opacity:1;
    transition: opacity .50s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
}
*/

#projectdetailleft
{
    font-size: 1.1vw;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left:5.8vw;
    margin-right: 66vw;
    margin-top:0vw;
    z-index: 1;
    line-height: 1.96vw;
    color: #333333;
    opacity:1;
/*
    transition: opacity .70s ease-in-out;
   -moz-transition: opacity .70s ease-in-out;
   -webkit-transition: opacity .70s ease-in-out;
*/
}


/*
#projectdetailleft.fadein
{
    opacity:1;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
}
*/

#projectduration
{
    position: relative;
    font-weight: 300;
    font-size: 1vw;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left: 5.8vw;
    margin-top: 1.12vw;
    line-height: 1.96vw;
    opacity:1;
/*
    transition: opacity .50s ease-in-out;
   -moz-transition: opacity .50s ease-in-out;
   -webkit-transition: opacity .50s ease-in-out;
*/
}

/*
#projectduration.fadein
{
      
    opacity:1;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
}
*/

#exploremorebtn
{
    position: relative;
    -moz-border-radius: 2.8vw;
    border-radius: 2.8vw;
    border-style: solid;
    border-width: 0.062vw;
    border-color:#717171;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.12vw;
    float: left;
    left: 0;
    margin-left: 5.8vw;
    margin-top: 44vw;
/*    left: -15vw;*/
    color:#717171;
    opacity:1;
    padding-right: 5.04vw;
    padding-left: 5.04vw;
    padding-top: 1.68vw;
    padding-bottom: 1.68vw;
    text-decoration: none; 
    position: absolute;
/*
    transition: opacity .50s ease-in-out;
   -moz-transition: opacity .50s ease-in-out;
   -webkit-transition: opacity .50s ease-in-out;
*/
/*    content: 'FUCK YOU';*/
}

/*
#exploremorebtn.fadein
{
    opacity:1;
    transition: opacity .70s ease-in-out;
   -moz-transition: opacity .70s ease-in-out;
   -webkit-transition: opacity .70s ease-in-out;
}
*/

#exploremorebtn:hover
{
    border-color: #ff5959;
    color: #ff5959;
}

@keyframes move{
    0% {
    transform: translateX(0vh);
  }

  20% {
    transform: translateX(0.1vh);
  }

  40% {
    transform: translateX(0.2vh);
  }

  60% {
    transform: translateX(0.3vh);
  }

  80% {
    transform: translateX(0.4vh);
  }

  100% {
    transform: translateX(0.5vh);
  }
    
}

.fixed-nav-bar
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

#fadein 
{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


#hidescrollcontainer
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
}

#hidescrollcontent
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html, body
{
    margin: 0;   
/*    -webkit-font-smoothing: subpixel-antialiased;*/
}

#projectalphabgimage 
{
    position: absolute;
    height:29.12vw;
    margin-top: 14vw;
    right: 0;
    margin-right: 4vw;
    opacity: 1;
/*
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
*/
}

/*
#projectalphabgimage.fadein
{
    opacity:1;
    transition: opacity .70s ease-in-out;
   -moz-transition: opacity .70s ease-in-out;
   -webkit-transition: opacity .70s ease-in-out;
}
*/

#projecralphaoverlayimage{
    
    position: absolute;
    height:8vw;
    right: 0;
    margin-top: 25.5vw;
    margin-right: 27vw;
    opacity: 1;
    
}

#projectalphaleftimage 
{
    position: absolute;
    height:31.36vw;
/*    float: left;*/
    right: 0;
    margin-top: 14vw;
    margin-right: 37vw;
    opacity: 1;
/*
    transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -moz-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -webkit-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
*/
}

/*
#projectalphaleftimage.fadein
{
    opacity:1;
    margin-top: 25vh;
    transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -moz-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -webkit-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    
}
*/


#projectalpharightimage 
{
    position: absolute;
    margin-top: 19.6vw;
    max-height:33.6vw;
    right: 0;
    margin-right: 4vw;
/*    margin-left: 71.5%;*/
/*    float: right;*/
    opacity: 1;
/*
    transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -moz-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -webkit-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
*/
}
/*
#projectalpharightimage.fadein
{
    opacity:1;
    margin-top: 35vh;
    transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -moz-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -webkit-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
}
*/

#projectalphacenterimage 
{
    position: absolute;
    margin-top: 8.4vw;
    margin-left: 70vw;
    max-height:11.2vw;
    float: right;
    opacity: 1;
/*
    transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -moz-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -webkit-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
*/
}

/*
#projectalphacenterimage.fadein
{
    opacity:1;
    margin-top: 15vh;
    transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -moz-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -webkit-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
}
*/

#hero
{
    opacity:1;
    background-size:cover;
    position: relative;
    height:100vh;
    width: 100vw;
    background-color:#f8f8f8;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
}

#hero.fadeout
{
    opacity:0;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
}

#hero2
{
    position: relative;
    opacity:1;
/*    background-size:cover;*/
/*    width: 100vw;*/
/*    position: absolute;*/
    height:100vh;
    width: 100vw;

}

#hero2.fadeout
{
    opacity:0;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
}


#hero2.fadein
{
    opacity:1;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
}

#welcomemsg
{
    position: absolute;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
    color:#333333;
    font-weight: 300;
    font-size: 1.7vw;
    float: center;
    line-height: 3.36vw;
    margin-left: 5.6vw;
    margin-right: 53vw;
    margin-top: 19.6vw;


/*
     transition: margin-top 1.2s ease-in-out,opacity 0.2s ease-in-out;
   -moz-transition:margin-top 1.2s ease-in-out,opacity 0.2s ease-in-out;
   -webkit-transition:margin-top 1.2s ease-in-out,opacity 0.2s ease-in-out;
*/
}

/*
#welcomemsg.movein
{
    opacity: 1;
    margin-top: 35vh;
    transition: margin-top 1.2s ease-in-out,opacity 0.7s ease-in-out;
    -moz-transition:margin-top 1.2s ease-in-out,opacity 0.7s ease-in-out;
    -webkit-transition:margin-top 1.2s ease-in-out,opacity 0.7s ease-in-out;
}
*/



#welcomemsggreet
{
    opacity: 1;
     font-family: 'Playfair Display', serif;
    color:#333333;
    font-weight: 300;
    font-size: 5.04vw;
    float: left;
    line-height: 5.6vw;
    margin-left: 5.6vw;
    margin-right: 0vw;
    padding-top: 2.8vw;
    margin-top: 5.6vw;
    vertical-align: middle;
    position: absolute;
/*
    transition: margin-top 1.2s ease-in-out,opacity 0.7s ease-in-out;
    -moz-transition:margin-top 1.2s ease-in-out,opacity 0.7s ease-in-out;
    -webkit-transition:margin-top 1.2s ease-in-out,opacity 0.7s ease-in-out;
*/
}

/*
#welcomemsggreet.movein
{
    opacity: 1;
    margin-top: 10vh;
    transition: margin-top 1.2s ease-in-out,opacity 0.7s ease-in-out;
    -moz-transition:margin-top 1.2s ease-in-out,opacity 0.7s ease-in-out;
    -webkit-transition:margin-top 1.2s ease-in-out,opacity 0.7s ease-in-out;
}
*/

#higif
{
    position: absolute;
    opacity:0;
    right: 0;
    height: 36.4vw;
    margin-top: 6.16vw;
    margin-right: -50.4vw;
    transition: margin-right 1.2s ease-in-out,opacity 0.7s ease-in-out;
    -moz-transition:margin-right 1.2s ease-in-out,opacity 0.7s ease-in-out;
    -webkit-transition:margin-right 1.2s ease-in-out,opacity 0.7s ease-in-out;
}

#higif.movein
{
    opacity:1;
    margin-right: 0;
    transition: margin-right 1.2s ease-in-out,opacity 0.7s ease-in-out;
    -moz-transition:margin-right 1.2s ease-in-out,opacity 0.7s ease-in-out;
    -webkit-transition:margin-right 1.2s ease-in-out,opacity 0.7s ease-in-out;   
}

.header
{
    position:absolute;
    top:22.68vw;
    width:100%;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  
}

#introduction
{
    font-family: 'Raleway', sans-serif;
    padding-left: 4.928vw;
    color: #333333;
    float:left;
    font-size: 2.8vw;
    line-height: 4.2vw;
    margin-top: 7.28vw;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -webkit-transition: opacity 0.7s ease-in-out;
     transition-delay: 0.7s;
    
}

#introduction.fadein
{
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -webkit-transition: opacity 0.7s ease-in-out;
    -webkit-transition-delay: 0.7s; /* Safari */
    transition-delay: 0.7s;
}

#introduction1
{
    opacity: 0;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-left: 4.732vw;
    color: #333333;
    float:left;
    font-size: 2.8vw;
    line-height: 4.2vw;
    margin-top: 11.2vw;
    z-index: 4;

    transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -webkit-transition: opacity 0.7s ease-in-out;
    -webkit-transition-delay: 0.7s; /* Safari */
    transition-delay: 0.7s;
}

#introduction1.fadein
{
    opacity:1;
    transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -webkit-transition: opacity 0.7s ease-in-out;
    -webkit-transition-delay: 0.7s; /* Safari */
    transition-delay: 0.7s;
}

::-webkit-scrollbar
{ 
    display: NONE; 
}

#rectangleunderline
{
    position: absolute;
    height:0.336vw;
    width:0vw;
    background-color: #333333;
    float:left;
    margin-top: 32.48vw;
    margin-bottom: 0vw;
    margin-left: 4.928vw;
    z-index: 1;
    opacity: 0;
    -webkit-transition:width   1000ms ease-in-out,opacity 0.7s ease-in-out;
    -moz-transition:width 1000ms ease-in-out, opacity 0.7s ease-in-out;
    -o-transition:width 1000ms ease-in-out, opacity 0.7s ease-in-out;
    transition:width 1000ms ease-in-out, opacity 0.7s ease-in-out;
}

#rectangleunderline.expand
{
    width:3.92vw;
    opacity: 1;
    -webkit-transition:width   1000ms ease-in-out, opacity 0.7s ease-in-out;
    -moz-transition:width 1000ms ease-in-out, opacity 0.7s ease-in-out;
    -o-transition:width 1000ms ease-in-out, opacity 0.7s ease-in-out;
    transition:width 1000ms ease-in-out, opacity 0.7s ease-in-out;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s; 
}

/*MOOCAST CSS*/

#moocastbgimage 
{
    position: absolute;
    height:29.12vw;
    left: 0;
    margin-top: 72.8vw;
/*    margin-left: 53%;*/
    margin-left: 4vw;
}
#moocastbg1image 
{
    position: absolute;
    height:44.8vw;
    left: 0;
    margin-top: 67.76vw;
/*    margin-left: 53%;*/
    margin-left: 4.5vw;
}

#moonameright
{
    position: absolute;
    font-size:4vw;
     font-family: 'Playfair Display', serif;
    font-weight: 300;
    float: left;
    margin-left:63vw;
    margin-top:70vw;
/*    padding-left: 2%;*/
/*    padding-right: 10.21%;*/
    color: #333333;
    opacity:1;

}

#moodetailright
{
    position: absolute;
    font-size: 1.1vw;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left:63vw;
    margin-right: 8vw;
    margin-top:78.96vw;
    z-index: 1;
    line-height: 1.96vw;
    color: #333333;
    opacity:1;

}
#mooduration
{
    position: absolute;
    font-weight: 400;
    font-size: 1vw;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left: 63vw;
    margin-top: 90.72vw;
    line-height: 1.96vw;
    opacity:1;
}

#exploremorebtn2
{
    position: absolute;
    -moz-border-radius: 2.8vw;
    border-radius: 2.8vw;
    border-style: solid;
    border-width: 0.062vw;
    border-color:#717171;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.12vw;
/*    float: left;*/
    left: 0;
/*    margin-right: 17.4vw;*/
    margin-left: 63vw;
    margin-top: 100.8vw;
/*    left: -15vw;*/
    color:#717171;
    opacity:1;
    padding-right: 5.05vw;
    padding-left: 5.05vw;
    padding-top: 1.68vw;
    padding-bottom: 1.68vw;
    text-decoration: none; 
}


#exploremorebtn2:hover
{
    border-color: #26d7b4;
    color: #26d7b4;
}


/*END OF MOOCAST*/


/*START OF MINDTRIP*/

#mindtripbgimage 
{
    position: absolute;
    height:29.12vw;
    margin-top: 130vw;
    right: 0;
    margin-right: 4vw;
    opacity: 1;
/*
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
*/
}


#mindtripimage 
{
    position: absolute;
    margin-top: 122vw;
    margin-left: 8vw;
    max-height:45vw;
/*    float: right;*/
    opacity: 1;
/*
    transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -moz-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
    -webkit-transition: margin-top .70s ease-in-out, opacity .70s ease-in-out;
*/
}


#mindtripnameleft
{
   position: absolute;
    font-size:4vw;
     font-family: 'Playfair Display', serif;
    font-weight: 100;
    float: left;
    left: 0;
    margin-left:5.8vw;
    margin-top:129vw;
/*    padding-left: 2%;*/
/*    padding-right: 10.21%;*/
    color: #333333;
    opacity:1;
/*
    transition: opacity .50s ease-in-out;
   -moz-transition: opacity .50s ease-in-out;
   -webkit-transition: opacity .50s ease-in-out;
*/
}


/*
#projectnameleft.fadein
{
    opacity:1;
    transition: opacity .50s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
}
*/

#mindtripdetailleft
{
    position: absolute;
    font-size: 1.1vw;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left:5.8vw;
    margin-right: 66vw;
    margin-top:137.96vw;
    z-index: 1;
    line-height: 1.96vw;
    color: #333333;
    opacity:1;
/*
    transition: opacity .70s ease-in-out;
   -moz-transition: opacity .70s ease-in-out;
   -webkit-transition: opacity .70s ease-in-out;
*/
}


/*
#projectdetailleft.fadein
{
    opacity:1;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
}
*/

#mindtripduration
{
    position: absolute;
    font-weight: 300;
    font-size: 1vw;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left: 5.8vw;
    margin-top: 149.72vw;
    line-height: 1.96vw;
    opacity:1;
/*
    transition: opacity .50s ease-in-out;
   -moz-transition: opacity .50s ease-in-out;
   -webkit-transition: opacity .50s ease-in-out;
*/
}

/*
#projectduration.fadein
{
      
    opacity:1;
    transition: opacity .70s ease-in-out;
    -moz-transition: opacity .70s ease-in-out;
    -webkit-transition: opacity .70s ease-in-out;
}
*/

#exploremorebtn3
{
    position: absolute;
    -moz-border-radius: 2.8vw;
    border-radius: 2.8vw;
    border-style: solid;
    border-width: 0.062vw;
    border-color:#717171;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.12vw;
    float: left;
    left: 0;
    margin-left: 5.8vw;
    margin-top: 159.8vw;
/*    left: -15vw;*/
    color:#717171;
    opacity:1;
    padding-right: 5.04vw;
    padding-left: 5.04vw;
    padding-top: 1.68vw;
    padding-bottom: 1.68vw;
    text-decoration: none; 
    position: absolute;
/*
    transition: opacity .50s ease-in-out;
   -moz-transition: opacity .50s ease-in-out;
   -webkit-transition: opacity .50s ease-in-out;
*/
/*    content: 'FUCK YOU';*/
}

/*
#exploremorebtn.fadein
{
    opacity:1;
    transition: opacity .70s ease-in-out;
   -moz-transition: opacity .70s ease-in-out;
   -webkit-transition: opacity .70s ease-in-out;
}
*/

#exploremorebtn3:hover
{
    border-color: #f5c33b;
    color: #f5c33b;
}



/*END OF MIND TRIP*/

/*DISTURB START*/

#disturbbgimage 
{
    position: absolute;
    height:29.12vw;
    left: 0;
    margin-top:187vw;
/*    margin-left: 53%;*/
    margin-left: 4vw;
}
#disturbimage 
{
    position: absolute;
    height:49vw;
    left: 0;
    margin-top: 180.76vw;
/*    margin-left: 53%;*/
    margin-left: 0vw;
}

#disturbnameright
{
    position: absolute;
    font-size:4vw;
     font-family: 'Playfair Display', serif;
    font-weight: 300;
    float: left;
    margin-left:63vw;
    margin-top:185vw;
/*    padding-left: 2%;*/
/*    padding-right: 10.21%;*/
    color: #333333;
    opacity:1;

}

#disturbdetailright
{
    position: absolute;
    font-size: 1.1vw;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left:63vw;
    margin-right: 8vw;
    margin-top:193vw;
    z-index: 1;
    line-height: 1.96vw;
    color: #333333;
    opacity:1;

}
#disturbduration
{
    position: absolute;
    font-weight: 400;
    font-size: 1vw;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left: 63vw;
    margin-top: 205.72vw;
    line-height: 1.96vw;
    opacity:1;
}

#exploremorebtn4
{
    position: absolute;
    -moz-border-radius: 2.8vw;
    border-radius: 2.8vw;
    border-style: solid;
    border-width: 0.062vw;
    border-color:#717171;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.12vw;
/*    float: left;*/
    left: 0;
/*    margin-right: 17.4vw;*/
    margin-left: 63vw;
    margin-top: 215.8vw;
/*    left: -15vw;*/
    color:#717171;
    opacity:1;
    padding-right: 5.05vw;
    padding-left: 5.05vw;
    padding-top: 1.68vw;
    padding-bottom: 1.68vw;
    text-decoration: none; 
}


#exploremorebtn4:hover
{
    border-color: #1fe3ea;
    color: #1fe3ea;
}


/*END OF Disturb*/






#behancebtn
{
    position: absolute;
    -moz-border-radius: 2.8vw;
    border-radius: 2.8vw;
    border-style: solid;
    border-width: 0.062vw;
    border-color:#717171;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.1vw;
/*    float: left;*/
    right: 0;
    margin-right: 38.5vw;
/*    margin-left: 22.5vw;*/
    margin-top: 2.5vw;
/*    left: -15vw;*/
    color:#717171;
    opacity:1;
    padding-right: 3.1vw;
    padding-left: 3.1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-decoration: none; 
}


#behancebtn:hover
{
    border-color: #1769FF;
   color:#1769FF;
}



#stillinterested
{
    position: absolute;
     font-size: 1.1vw;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-left:37.5vw;
/*    margin-right: 8vw;*/
    margin-top:2.5vw;
    z-index: 1;
    line-height: 3.36vw;
    color: #717171;
    opacity:1;
    text-align: center;

}

#behancebgimg
{
    position: absolute;
    width: 30vw;
    margin-top: -3.5vw;
/*    z-index: 1;*/
    margin-left: 34vw;
}
#behancebg
{
    background-color: #efefef;
    width: 100%;
    margin-top: 240vw;
    height: 7vw;
}



#footer1
{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #333333;
/*    margin-top: 20vh;*/
    position: absolute;
    font-size: 0.8vw;
    opacity: 1;
    width: 100%;
    text-align: center;
    margin-top: 1.2vw;
}

footer
{
    background-color: #efefef;
    height: 3vw;
/*    margin-top: 100%;*/
    z-index: -1;
/*    margin-top:135vw; */
}


.typed-cursor
{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-top: 20vh;
    position: absolute;
    font-size: 6vh;
    opacity: 0;
}

#warningmessage
{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 3vw;
    margin-top: 90vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    margin-left: 10vw;
    margin-right: 10vw;
    left:0;
    
    
}


#landscapeicon
{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 15vw;
    margin-top: 60vw;
}

   speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
/*    line-height: 1;*/
    -webkit-font-smoothing: antialiased;


 #warning-message { display: none; }
    @media only screen and (orientation:portrait){
        #wrapper { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }